body {
    margin: 0;
    background-color: #F2F2F2;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #4F4F4F;
}

/* Header */

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

header, .responsive, .progress, .organiseCss {
    background-color: white;
    padding-block-start: 16px;
    padding-block-end: 32px;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    margin: 32px;
    border-radius: 12px;
}

figure {
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.career {
    margin-block-start: -10px;
    color: #828282;
}

a {
    text-decoration: none;
    word-break: break-word;
}

.contact {
    padding-block-end: 10px;
    padding-block-start: 25px;
}

.personalDetail {
    color: #828282;
}


/* Responsive */

.aboutSites {
    color: #828282;
    padding-block-end: 32px;
    padding-block-start: 22px;
}

.responsive button {
    border: 1px solid #5C94E1;
    box-sizing: border-box;
    border-radius: 12px;
    color: #5C94E1;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-inline-start: 17px;
    padding-inline-end: 17px;
    margin-inline-end: 16px;
}

.responsive button:hover {
    background-color: #5C94E1;
    color: #ffff;
}

.responsive img {
    max-width: 100%;
}

.progressWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

label {
    padding-block-end: 16px;
}

progress {
    width: 100%;
}


@media(min-width: 900px) {
    .wrapper {
        margin: auto;
        max-width: 900px;
        margin-block-start: 70px;
    }

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        max-width: 50%;
    }

    .contactWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .responsive {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .aboutInterior {
        padding-inline-start: 50px;
    }

    .organiseCss {
        position: relative;
    }

    .organiseCss img {
        position: absolute;
        right: 0;
        max-width: 30%;
    }

    .organiseInner {
        display: flex;
        flex-direction: row;
    }
}